
<template>
  <div class="<%= data.lowerName %>">
    {{message}}
  </div>
</template>

<script>
export default {
  name:'<%= data.name %>',
  components:{
    
  },
  props:{

  },
  data(){
    return {
      message:'<%= data.name %>'
    }
  },
  mounted(){

  }
  

}
</script>
<style scoped>
  .<%= data.name %>{

  }
</style>